.logo{
	padding-top: 50px;
	padding-bottom: 20px;
}

.menu{
	padding-top: 30px;
}

.medio{
	text-align: center;
	padding-top: 130px;
	padding-bottom: 130px;
	color: #FFFFFF;
	background-color: #000000;
}


.jaja{
	background-color: #000000;
}

.no{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color:  #fffefe;
	background-color: #000000;
}

.por{
	padding-bottom: 70px;
}

.sis{
	padding-bottom: 20px;
}

.inci{
	text-align: center;
	padding-top: 130px;
	padding-bottom: 130px;
	color: #181717;
}

.ww{
	padding-top: 50px;
	background-color: #a5a3a4;
	padding-bottom: 50px;
}

.wv{
	padding-top: 50px;
	background-color: #dfdfdf;
	padding-bottom: 50px;
}

.cat{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #030303;
}

.lala{
	background-color: #070707;
	color: white;
	padding-top: 30px;
	padding-bottom: 50px;
}

.cucu{
	padding-bottom: 20px;
}

.xq{
	padding: 10px;
}

.cucux{
	padding-bottom: 40px;
}

.histo{
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #141414;
	text-align: justify;
}

.non{
	padding-left: 60px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #1f1f1f;
}

.img{
	
	padding-bottom: 30px;
	text-align: center;
}

.titu{
	padding: 50px;
	color: #FFFFFF;
	background-color:  #070707;
}

.juju{
	color: #201f1f;
}

.solo{
	padding-left: 90px;
	padding-right: 90px;
}

.tata{
	padding-top: 30px;
	color: #050505;
}

.cata{
	text-align: center;
	color: #272626;
}

.bor{
	border: 1px solid rgb(31, 30, 30);
}

.xqq{
	padding: 30px;
}

.juego {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

#juego img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.ww img:hover{
	transform: scale(1.2);
}

.cat img:hover{
	transform: scale(1.2);
}

.cuenta{
	background-color: #070707;

}

.mam{
	background-color: white;
}

